/.metadata
/target

/jspz-experiments

/jspz/.project
/jspz/.settings
/jspz/.classpath
/jspz/target

/jspz-examples/.project
/jspz-examples/.settings
/jspz-examples/.classpath
/jspz-examples/target

/jspz-examples/data/*
!/jspz-examples/data/unitCube.spz